{% extends 'template.html' %}
{% block content %}
<div style="text-align: right;">
	<a href="{% url 'chois_projet' %}" class="icon-with-text previous-icon">Revenir à la liste des projets</a>
</div>
<div class="custom-well main-well">{{ title }}</div>
<div class="row">
	<div class="col-sm-9">
{% if onglets.ongl_cep == True or onglets.ongl_ta == True %}
		<ul class="custom-nav-tabs nav nav-justified nav-tabs">
			<li class="active"><a href="#ongl_caract" data-toggle="tab">Caractéristiques</a></li>
			{% if onglets.ongl_cep == True %}<li><a href="#ongl_cep" data-toggle="tab">Classes</a></li>{% endif %}
			{% if onglets.ongl_ta == True %}<li><a href="#ongl_ta" data-toggle="tab">Tranches d'âge</a></li>{% endif %}
		</ul>
		<div class="tab-content">
			<div id="ongl_caract" class="active fade in tab-pane">
{% endif %}
				<div class="attributes-wrapper">
					{{ attrs_projet.org }}
					{{ attrs_projet.marche }}
					{{ attrs_projet.int_projet }}
					<div class="row">
						<div class="col-sm-6">{{ attrs_projet.type_interv }}</div>
						<div class="col-sm-6">{{ attrs_projet.sti }}</div>
					</div>
					{{ attrs_projet.type_public }}
					{{ attrs_projet.anims }}
					{{ attrs_projet.refer_projet }}
					{{ attrs_projet.courr_refer_projet }}
					{{ attrs_projet.tel_refer_projet }}
					{{ attrs_projet.comm_projet }}
				</div>
{% if onglets.ongl_cep == True or onglets.ongl_ta == True %}
			</div>
			{% if onglets.ongl_cep == True %}
			<div id="ongl_cep" class="fade tab-pane">
				<div class="forbidden" style="text-align: right;">
					<span class="icon-with-text manage-icon" data-target="#fm_ger_cep" data-toggle="modal">Gérer les classes</span>
				</div>
				<div class="custom-table" id="dtable_consult_cep">
					<table border="1" bordercolor="#DDD">
						<thead>
							<tr>
								<th>Classe</th>
								<th>Établissement scolaire</th>
							</tr>
						</thead>
						<tbody>
							{% for cep in p.get_cep.all %}
							<tr>
								<td>{{ cep.get_classe }}</td>
								<td>{{ cep.get_ecole }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			{% endif %}
			{% if onglets.ongl_ta == True %}
			<div id="ongl_ta" class="fade tab-pane">
				<div class="forbidden" style="text-align: right;">
					<span class="icon-with-text manage-icon" data-target="#fm_ger_ta" data-toggle="modal">Gérer les tranches d'âge</span>
				</div>
				<div class="custom-table" id="dtable_consult_ta">
					<table border="1" bordercolor="#DDD">
						<thead>
							<tr>
								<th>Âge minimum</th>
								<th>Âge maximum</th>
								<th>Structure d'accueil</th>
							</tr>
						</thead>
						<tbody>
							{% for ta in p.get_ta.all %}
							<tr>
								<td>{{ ta.get_min_ta }}</td>
								<td>{{ ta.get_max_ta }}</td>
								<td>{{ ta.get_int_struct_ta }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			{% endif %}
		</div>
{% endif %}
	</div>
	<div class="br-sm col-sm-3">
		<div class="forbidden">
			<a href="{% url 'modif_projet' %}?id={{ p.get_pk }}" class="icon-with-text modify-icon">Modifier le projet</a>
			<br/>
			<span action="?action=supprimer-projet-etape-1" class="delete-icon icon-with-text" modal-suffix="suppr_projet" onclick="ajax(event);">Supprimer le projet</span>
			<div class="br"></div>
		</div>
		<a href="?action=imprimer-projet" class="icon-with-text print-icon" target="blank">Imprimer le projet</a>
	</div>
</div>
{% endblock content %}