{% extends 'template.html' %}
{% block content %}
{% if p %}
<div style="text-align: right;">
	<a href="{% url 'consult_projet' p.get_pk %}" class="icon-with-text previous-icon">Revenir au projet</a>
</div>
{% endif %}
<div class="custom-form panel">
	<div class="panel-heading">{{ title }}</div>
	<div class="panel-body">
		{% if message %}<span class="important">{{ message }}</span>{% endif %}
		<form action="" method="post" name="form_ger_projet" onsubmit="ajax(event);">
			{% csrf_token %}
			{{ form_ger_projet.zl_pm }}
			{{ form_ger_projet.int_projet }}
			{{ form_ger_projet.zl_sti }}
			{{ form_ger_projet.id_type_public }}
			<div class="row">
				<div class="col-sm-6">{{ form_ger_projet.nom_refer_projet }}</div>
				<div class="col-sm-6">{{ form_ger_projet.prenom_refer_projet }}</div>
			</div>
			<div class="row">
				<div class="col-sm-6">{{ form_ger_projet.courr_refer_projet }}</div>
				<div class="col-sm-6">{{ form_ger_projet.tel_refer_projet }}</div>
			</div>
			{{ form_ger_projet.comm_projet }}
			<button class="center-block custom-button main-button" type="submit">Valider</button>
		</form>
	</div>
</div>
{% endblock content %}