{% extends 'template.html' %}
{% block content %}
{% if a %}
<div style="text-align: right;">
	<a href="{% url 'consult_anim' a.get_pk %}" class="icon-with-text previous-icon">Revenir à l'animation</a>
</div>
{% endif %}
<div class="custom-form panel">
	<div class="panel-heading">{{ title }}</div>
	<div class="panel-body">
		<form action="" method="post" name="form_ger_anim" onsubmit="ajax(event);">
			{% if b %}
			<span class="important">Attention, si vous décidez de modifier la valeur du champ « L'animation est-elle un rendez-vous ? », alors le bilan précédemment rempli sera supprimé.</span>
			{% endif %}
			{% csrf_token %}
			{{ form_ger_anim.zl_projet }}
			{{ form_ger_anim.dt_anim }}
			<div class="row">
				<div class="col-sm-6">{{ form_ger_anim.zh_heure_deb_anim }}</div>
				<div class="col-sm-6">{{ form_ger_anim.zh_heure_fin_anim }}</div>
			</div>
			<div class="row">
				<div class="col-sm-6">{{ form_ger_anim.est_anim }}</div>
				<div class="col-sm-6">{{ form_ger_anim.num_anim }}</div>
			</div>
			{{ form_ger_anim.nbre_dj_anim }}
			{{ form_ger_anim.id_struct }}
			<div class="row">
				<div class="col-sm-6">{{ form_ger_anim.lieu_anim }}</div>
				<div class="col-sm-6">{{ form_ger_anim.zl_comm }}</div>
			</div>
			<button class="center-block custom-button main-button" type="submit">Valider</button>
		</form>
	</div>
</div>
{% endblock content %}